.bg-color {
  background: #c31432;
  background: -webkit-linear-gradient(to bottom, #c31432, #240b36);
  background: linear-gradient(to bottom, #c31432, #240b36);
}

.error {
  border-color: red;
}

.ng-valid:not(form),
.ng-valid.required {
  border-left: 5px solid #240b36 !important; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important; /* red */
}
