.form-control {
  background-color: #363636;
  border: none;
  color: white;
  width: 218px;
}

.form-control::placeholder {
  color: white;
}
.input-group-text {
  border: none !important;
}



i {
  padding: 5px;
  margin: 0px 5px;
  cursor: pointer;
}
i:hover {
  background-color: rgba(255, 255, 255, 0.548);
  border-radius: 2px;
}
