<div class="container border border-opacity-50 border-white p-3 rounded-3">
  <form class="row" [formGroup]="form" (submit)="submit()">
    <div>
      <div>
        <input
          type="text"
          placeholder="Task name"
          class="w-100 bg-transparent border-none text-white"
          formControlName="taskName"
        />
        <input
          type="text"
          placeholder="description"
          class="w-100 bg-transparent p-1 text-white mt-2"
          formControlName="taskDescripiton"
        />
      </div>

      <div class="w-100 mt-4">
        <div class="d-flex align-items-center">
          <div
            class="bg-transparent px-3 rounded-3 border border-opacity-50 d-flex align-items-center"
          >
            <mat-date-range-input [rangePicker]="rangePicker">
              <input
                matStartDate
                class="w-100"
                placeholder="Start date"
                formControlName="taskStart"
                style="color: white"
              />
              <input
                class="w-100"
                matEndDate
                placeholder="End date"
                formControlName="taskEnd"
                style="color: white"
              />
            </mat-date-range-input>

            <mat-datepicker-toggle
              style="color: white"
              matIconSuffix
              [for]="rangePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker> </mat-date-range-picker>
          </div>

          <div
            class="bg-transparent m-2 rounded-3 border border-opacity-50 d-flex align-items-center"
            style="padding: 7px"
          >
            <select
              class="form-select bg-transparent text-white border-0"
              aria-label="Default select example"
              formControlName="taskPriority"
            >
              <option selected class="text-dark">Priority</option>
              <option value="1" class="text-dark">Priority 1</option>
              <option value="2" class="text-dark">Priority 2</option>
              <option value="3" class="text-dark">Priority 3</option>
            </select>
          </div>
        </div>
        <hr class="text-white" />

        <div class="d-block text-end">
          <div>
            <button
              class="m-2 btn p-2 bg-dark text-white"
              (click)="closeTask()"
              type="button"
            >
              Cancel
            </button>
            <button
              type="submit"
              style="background-color: #de4c4a"
              class="btn p-2 text-white"
            >
              Add Task
            </button>
          </div>
        </div>
      </div>
    </div>

    <div></div>
    <div></div>
    <div></div>
  </form>
</div>
