.list-group-item-action:hover {
  cursor: pointer;
  border-radius: 5px !important;
  background-color: #363636 !important;
}

.list-group-item-action{
    width:305px
}

.bg-hover:hover{
  background-color: #363636 !important;


}
