button {
  border-radius: 50%;
  border: 1px solid white;

  color: white;
  background-color: transparent;
}
button:hover {
  color: red;
}

.hover:hover {
  background-color: #363636 !important;
  cursor: pointer;
}
