<div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center hover">
      <mat-checkbox (click)="removeTask(task[0])">
        <div>
          <span class="text-white">
            {{ task[1].taskName }}
            <br />
          </span>
          <h5 class="text-secondary text-purple">
            {{ task[1].taskDescripiton }}
          </h5>
        </div>
      </mat-checkbox>
      <div class="ms-auto">
        <small style="color: #a970ff">{{ task[1].taskDate | date }}</small>
        <button class="mx-2" (click)="removeTask(task[0])">X</button>
        <button (click)="editTask = !editTask">edit</button>
      </div>
    </div>
    <div *ngIf="editTask">
      <app-create-task
        [dataTask]="task"
        (openTask)="closeTask($event)"
      ></app-create-task>
    </div>
  </div>
</div>
