<div class="container w-100 vh-100">
  <div class="row p-5 w-75 m-auto">
    <div class="text-white">
      <div>
        <h1>Inbox</h1>
        <hr />
      </div>
    </div>

    <div>
      <div>
        <div>
          <div *ngFor="let tasks of taskArray$ | async" class="my-2">
            <app-task [task]="tasks" />
          </div>
          <button
            class="task-button text-secondary"
            *ngIf="!taskTrigger"
            (click)="taskTrigger = !taskTrigger"
          >
            <i class="fa-regular fa-plus p-1" style="color: #de4c4a"></i>
            Add task
          </button>
          <div *ngIf="taskTrigger">
            <app-create-task (openTask)="closeTask($event)"></app-create-task>
          </div>
        </div>
        <div
          class="d-grid justify-content-center text-center text-white"
          *ngIf="!taskTrigger"
        >
          <div>
            <img
              src="https://todoist.b-cdn.net/assets/images/f8efe98622c6a4dec60121bcf5a240b5.png"
              srcset="
                https://todoist.b-cdn.net/assets/images/a1875323597283b7b63c3dcaff6429ca.png 2x,
                https://todoist.b-cdn.net/assets/images/ca29ff0c211ae042652e4d84a8370c4b.png 3x
              "
            />
          </div>
          <div>
            <div class="m-2">Your peace of mind is priceless</div>
          </div>
          <div class="text-secondary">
            <div>
              Well done, All your team's tasks are organized in the right place.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
