/* You can add global styles to this file, and also import other style files */

@import url(./assets/fontawesome-free-6.4.0-web/css/fontawesome.css);
@import url(./assets/fontawesome-free-6.4.0-web/css/brands.css);
@import url(./assets/fontawesome-free-6.4.0-web/css/solid.css);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.error {
  border-color: red;
}
.ng-valid:not(form),
.ng-valid.required {
  border-left: 5px solid #240b36 !important; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
