<div class="container w-100">
  <div class="row p-5 w-75 m-auto">
    <div class="text-white">
      <div>
        <h1>
          Today
          <span class="text-secondary fs-6">{{ date | date }}</span>
        </h1>
        <hr />
      </div>
    </div>
    <div *ngFor="let tasks of todayTaskArray$ | async" class="my-2">
      <app-task [task]="tasks" />
    </div>
    <div>
      <div>
        <div>
          <button
            class="task-button text-secondary"
            *ngIf="!taskBoolean"
            (click)="taskBoolean = !taskBoolean"
          >
            <i class="fa-regular fa-plus p-1" style="color: #de4c4a"></i>
            Add task
          </button>
          <div *ngIf="taskBoolean">
            <app-create-task (openTask)="closeTask($event)"></app-create-task>
          </div>
        </div>
        <div
          class="d-grid justify-content-center text-center text-white"
          *ngIf="!taskBoolean"
        >
          <div>
            <img
              src="https://todoist.b-cdn.net/assets/images/eca835cc5e863b41cc2fe9f480b36fae.png"
              srcset="
                https://todoist.b-cdn.net/assets/images/65b5fe1fe17d640040f6c0888bddeb53.png 2x,
                https://todoist.b-cdn.net/assets/images/8d1e3dd52ac2ee793bd4ce434f31a641.png 3x
              "
            />
          </div>
          <div>
            <div class="m-2">Have a marvelous day off, luca!</div>
          </div>
          <div class="text-secondary">
            <div>
              Schedule days off in the Productivity tab of your Settings menu.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
